extends layout

block content

  h1 AusMug
  p.lead  Austin MEAN Stack Dev Group
  hr
  .row
    .col-sm-6
      h2 Heading 1
      p box 1.
      p
        a.btn.btn-default(href='http://www.meetup.com/Austin-MEAN-Stack-Development/', role='button', target='_blank') Open tab to AusMug Meetup page
    .col-sm-6
      h2 Heading 2
      p box 2
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p box 3
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p box 4
      p
        a.btn.btn-default(href='#', role='button') View details »